
*{
    background-color: rgb(221, 233, 227);
}

h1{
    font-size:4rem;
    background: linear-gradient(to right,#e20000,#be0000,#770000,#3b0000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

ul>li{
    font-size:3rem;
    background: linear-gradient(to right,#e20000,#be0000,#770000,#3b0000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
